USE [sinemasitem]
GO
/****** Object:  Table [dbo].[kategori]    Script Date: 18.5.2014 20:49:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategori](
	[kategoriid] [int] NULL,
	[kategoriadi] [nvarchar](50) NULL,
	[kategorilink] [nvarchar](50) NULL
) ON [PRIMARY]

GO
