.satir-1
{
    border-bottom: thin dashed red;
    width: 113px;
    height: 15px;
    font-family: 'Trebuchet MS';
    color: #333333;
    float:left;
    padding-left:10px;
    padding-bottom:10px;
    padding-top:5px;
    margin-left: 0px;
    }
.satir-2
{border-bottom: thin dashed red;
    width: 373px;
    height: 37px;
    font-family: 'Trebuchet MS';
    color: #333333;
   float:left;
    padding-bottom:10px;
   padding-top:5px;
}


.satir-3
{ border-bottom: thin dashed red;
     width: 195px;
    height: 15px;
    font-family: 'Trebuchet MS';
    color: #333333;
   float:left;
    padding-bottom:10px;
   padding-top:5px;
}
.satir-5
{ border-bottom: thin dashed red;
     width: 675px;
    height: 150px;
    font-family: 'Trebuchet MS';
    color: #333333;
   float:left;
    padding-bottom:10px;
   padding-top:5px;
}
